@import url('https://fonts.googleapis.com/css?family=K2D');

.container {
   padding:40px;
   display: flex;
   justify-content: right;
   flex-direction: column; 
   text-align: center;
   /* flex-direction: row-reverse;  */
   font-family: 'K2D', sans-serif;
   -ms-text-overflow: unset;
}
body {
    /* background-color: aqua; */
    background-image: url("./assets/images/Psychic.jpg");
    background-repeat: no-repeat; 
    background-position: 50% 50%;
    background-position: flex;
    background-size: 1500px;
    /* padding-top: 100px: */
    padding-bottom: 100px;
}
h1 {
    text-align: center;
    background-color: darkgoldenrod;     
}

.container2 {
    text-align: center;
    flex-direction: column-reverse;
}